---
---

<section id="about">
    <div>
        <div class="name">
            <h1>Hello, I am <span>Aurélien</span></h1>
            <p class="subtitle">Chances are you might not pronounce it well. But that's ok, I'm not
                even mad...</p>
        </div>
        <div class="intro">
            <p>Thanks for landing on my website (I truly hope you'll like it)</p>
            <p>Well, you probably already figured that out but I'm French, what you may not know is that I am also a
                fullstack CTO</p>
            <p>Tech is the kind of art I'm most found of, designing and coding amazing SaaS applications, scaling
                wonderful
                teams
                and eventually experiencing users feedbacks</p>
            <p>I value true relationships, communities, transparency, leadership and freedom</p>
        </div>
    </div>
    <div class="image">
        <img src="https://i.redd.it/ih6no69aj90y.png" alt="Profile Picture">
    </div>
</section>

<style>

    .container {
        display: flex;
        flex-direction: row;
    }

    .subtitle {
        color: var(--accent-lighter);
        font-style: italic;
        font-size: 10px;
        margin: 0;
    }

    .columns {
        display: flex;
        flex-direction: row;
    }

    section {
        min-height: 70vh;
        margin-left: 10vw;
        margin-right: 10vw;
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 10vw;
        padding-bottom: 15vh;
    }

    h1 {
        margin: 0;
        font-size: 3rem;

        & span {
            padding: 0 2px;
            background: linear-gradient(180deg, transparent 0 90%, var(--color-primary) 0);
        }
    }

    .intro {
        margin-top: 10vh;
        font-size: 18px;
        max-width: 500px;
    }

    img {
        max-width: 320px;
    }

    @media (max-width: 1260px) {
        img {
            width: 30vw;
        }
    }

    @media (max-width: 880px) {
        img {
            display: none;
        }
    }

</style>
