---

---

<section id="reachMe">
    <h2>How to reach me</h2>
    <div class="subtitle">If you want</div>

    <form
            action="https://audelin.us18.list-manage.com/subscribe/post?u=faf36037b68480d4074cafe92&amp;id=4a66e44c98&amp;f_id=003197e6f0"
            target="_blank" method="POST" class="column"
            id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
        <label for="name">Your name<span>*</span></label>
        <input name="FNAME" id="name" type="text" placeholder="Linus Torvald" required>

        <label for="companyName">Your company</label>
        <input name="LNAME" id="companyName" type="text" placeholder="JetBrains">

        <label for="email">Your email<span>*</span></label>
        <input name="EMAIL" id="email" type="email" placeholder="example@email.com" required>

        <label for="message">Your message<span>*</span></label>
        <textarea name="NEED" id="message" placeholder="Doing great !" required/>

        <div hidden=""><input type="hidden" name="tags" value="2976801"></div>
        <div id="mce-responses" class="clear foot">
            <div class="response" id="mce-error-response" style="display: none;"></div>
            <div class="response" id="mce-success-response" style="display: none;"></div>
        </div>
        <div aria-hidden="true" style="position: absolute; left: -5000px;">
            <input type="text" name="b_faf36037b68480d4074cafe92_4a66e44c98" tabindex="-1" value="">
        </div>

        <button type="submit">Send</button>
    </form>

</section>

<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>


<style>

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
    }

    h2 {
        font-size: 2.5rem;
        margin: 20vh 0 0 0;
    }

    .subtitle {
        color: var(--accent-lighter);
        font-style: italic;
        font-size: 10px;
        margin-bottom: 10vh;
    }

    form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-width: 300px;
        width: 40vw;
        max-width: 600px;
    }

    input {
        padding: 10px 20px;
        margin-bottom: 20px;
        border: none;
        border-radius: 10px;
    }

    label {
        margin-bottom: 5px;
    }


    button {
        background-color: var(--color-primary);
        color: var(--accent-lighter);
        padding: 10px 20px;
        max-width: 100px;
        margin-left: auto;
        border-radius: 10px;
    }

    form:invalid button {
        opacity: 0.7;
        pointer-events: none;
    }

    textarea {
        min-height: 80px;
        padding: 10px 20px;
        margin-bottom: 20px;
        border: none;
        font-family: "Roboto", sans-serif;
        border-radius: 10px;
    }


</style>
