---

import MenuIcon from "./MenuIcon.astro";---

<MenuIcon />
<div class="sidebar">
    <nav>
        <ul>
            <li><a href="#about" class="active">Who am I</a></li>
            <li><a href="#career">What have I done</a></li>
            <li><a href="#why">Why me</a></li>
        </ul>
    </nav>
</div>

<style>


    .wrapper {
        position: sticky;
    }

    .sidebar {
        padding: 5vh 10vw;
        position: sticky;
        top: 0;
        display: flex;
        min-width: 200px;
        background-color: var(--accent-darker);
    }

    ul {
        padding: 0;
        margin: 0;
        display: flex;
        gap: 40px;
    }

    li {
        list-style: none;
        font-size: 20px;
        margin: 10px 0;
        cursor: pointer;
    }

    a {
        color: var(--accent-lighter);
        position: relative;
        text-decoration: none;
    }

    a::before {
        content: "";
        position: absolute;
        display: block;
        width: 20px;
        height: 2px;
        bottom: -2px;
        left: 0;
        background-color: var(--accent-lighter);
        transition: width 0.5s ease;
    }

    a.active::before {
        width: 100%;
        background-color: var(--color-primary);
    }

    a:hover::before {
        width: 100%;
    }


    @media (max-width: 500px) {
        nav:not(.active-nav) {
            display: none;
        }

        a::before {
            background-color: var(--accent-darker);
        }

        .sidebar {
            width: 100%;
            margin: 0;
            padding: 0;
            position: fixed;
            top: 60px;
            background-color: var(--accent-lighter);
        }

        nav {
            padding-left: 10px;
        }

        ul {
            flex-direction: column;
            gap: 2px;
        }

        a {
            color: var(--accent-darker);
        }
    }

</style>

<script>
    const linkTags = document.querySelectorAll("a");

    linkTags.forEach((tag) => {
        tag.addEventListener("click", () => {
            document.querySelector(".active")?.classList?.remove("active")
            tag.classList?.add("active")
        });
    });

</script>
