---
---

<section id="why">
    <h2>Why would you even contact me</h2>
    <div class="content">
        <p>
            I love talking about entrepreneurship, startups, and technology. In a fast changing world,
            I strongly believe that learning is a never-ending process that we must embrace. After years of development,
            I still reinvent myself every day
        </p>
        <p>
            Transparency, community and true relationships are the values that I believe in the most. I am always
            looking to meet knew people to share ideas, learn from them and build long term relationships
        </p>
        <p>
            Builders are the people that I admire the most. I love building new things and seeing them grow.
            I sincerely believe that building is the best way to learn and to contribute to create a world that
            fits my expectations
        </p>
        <p>
            I am available for consulting, mentoring, startup strategy, team management or architecture...
        </p>
        <p class="italic">
            #webdev #ai #automation #entrepreneurship #web3
        </p>
    </div>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: 2.5rem;
        margin: 20vh 0 10vh 0;
    }

    .content {
        padding: 0 5vw;
        max-width: 600px;
        letter-spacing: 0.02em;
        line-height: 1.5em;
    }

    .italic {
        font-style: italic;
    }
</style>
