---
---

<section id="why">
    <h2>Why me</h2>
    <div class="content">
        <p>
            I am a <strong>full-stack developer</strong> with a <strong>passion for web development</strong>. I have a
            <strong>strong knowledge of PHP</strong> and <strong>JavaScript</strong> and I am always looking to learn
            new things.
        </p>
        <p>
            I am a <strong>full-stack developer</strong> with a <strong>passion for web development</strong>. I have a
            <strong>strong knowledge of PHP</strong> and <strong>JavaScript</strong> and I am always looking to learn
            new things.
        </p>
        <p>
            I am a <strong>full-stack developer</strong> with a <strong>passion for web development</strong>. I have a
            <strong>strong knowledge of PHP</strong> and <strong>JavaScript</strong> and I am always looking to learn
            new things.
        </p>
        <p>
            I am a <strong>full-stack developer</strong> with a <strong>passion for web development</strong>. I have a
            <strong>strong knowledge of PHP</strong> and <strong>JavaScript</strong> and I am always looking to learn
            new things.
        </p>
        <p>
            I am a <strong>full-stack developer</strong> with a <strong>passion for web development</strong>. I have a
            <strong>strong knowledge of PHP</strong> and <strong>JavaScript</strong> and I am always looking to learn
            new things.
        </p>
        <p>
            I am a <strong>full-stack developer</strong> with a <strong>passion for web development</strong>. I have a
            <strong>strong knowledge of PHP</strong> and <strong>JavaScript</strong> and I am always looking to learn
            new things.
        </p>
    </div>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: 2.5rem;
        margin: 20vh 0 10vh 0;
    }

    .content {
        padding: 0 5vw;
        max-width: 600px;
        letter-spacing: 0.02em;
        line-height: 1.5em;
    }
</style>
